.link-button {
    color: var(--button-color);

    text-decoration: none;
}

.link-button:hover {
    text-decoration: underline;
}

.link-button:active {
    text-decoration: none;
}


.main-button {
    display: inline-block;

    padding: 10px 14px;

    background-color: var(--text-color);

    color: var(--bakeground-color);

    text-decoration: none;

    font-size: 14px;

    border-radius: 10px;

    margin: 0 1em 1em 0;

    font-weight: 400;
}