@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    --accent-color: hsl(0, 0%, 0%);
    --accent-color-hover: hsl(0, 0%, 0%);
    --accent-color-active: hsl(0, 0%, 0%);
    --bakeground-color: hsl(0, 0%, 100%);
    --button-color: hsl(220, 75%, 50%);
    --text-color: hsl(0, 0%, 0%);
    --border-color: hsl(0, 0%, 0%, 0.25);
    --sove-color: hsl(0, 0%, 95%);
    --bodyColor: hsl(0, 0%, 100%);
    --headerColor: hsla(0, 0%, 100%, 0.5);
    padding-top:30px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    background-color: none;
    z-index: 1;
    margin: 0;text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    
    --main-font: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Helvetica", "sans-serif", "MS P ゴシック", "游ゴシック", "游ゴシック体", "メイリオ", "Meiryo", "IBM_Plex_Sans_JP_Medium";

    white-space: normal;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: hsl(0, 0%, 0%);
      --bodyColor: hsl(0, 0%, 0%);
      --sove-color: hsl(0, 0%, 10%);
      --border-color: hsla(0, 0%, 100%, 0.25);
      --text-color: hsl(0, 0%, 100%);
      --bakeground-color: hsl(0, 0%, 0%);                                                                  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
      --headerColor: hsla(0, 0%, 0%, 0.5);
    }
}

html {
    margin-top: 26px;
    scroll-behavior: smooth;
}

a {
    font-family: var(--main-font);
}

b {
    font-family: var(--main-font);
}

p {
    font-family: var(--main-font);
}

h1 {
    font-family: var(--main-font);
}

h2 {
    font-family: var(--main-font);
}

h3 {
    font-family: var(--main-font);
}

p {
    font-family: var(--main-font);
}


.header-large {
    background-color: var(--headerColor);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    
    border-bottom: solid 1px var(--border-color);
    
    display: flex;
    position: fixed;

    top: 0;

    width: 100%;
    height: 56px;
    
    text-align: center;
    
    margin: 0;

    user-select: none;

    -webkit-user-select: none;

    z-index: 1000;
}

.header-small {
    background-color: var(--bakeground-color);
    
    border-bottom: solid 1px var(--border-color);
    
    display: none;
    position: fixed;

    top: 0;

    width: 100%;
    height: 56px;
    
    text-align: center;
    
    margin: 0;

    user-select: none;

    -webkit-user-select: none;

    z-index: 1000;
}

.header-large-ul {
    margin: 0;

    padding-left: 56px;
    
    height: 56px;
}

.header-small-ul {
    margin: 0;

    padding-left: 0px;
    
    height: 56px;
}

.header-menu {
    list-style: none;

    display: inline-block;

    height: 56px;

    padding: 0 5px;
}

.header-menu-button {
    font-size: 12px;

    font-family: var(--main-font);

    font-weight: 600;

    text-decoration: none;

    display: inline-block;

    padding: 0 15px;

    color: var(--text-color);

    height: 56px;

    vertical-align: middle;

    display: table-cell;
}

.header-menu-button-text {
    display: inline-block;

    vertical-align: middle;

    margin-right: 5px;
}

.header-menu-button-image {
    vertical-align: middle;
}


.footer {
    border-top: solid 1px var(--border-color);

    background-color: var(--bakeground-color);

    margin: calc(56px - 16px) 0 0 0;
    padding: 0 0 56px 36px;

    font-size:0;
}

.footer-menu {
    padding: 0;

    display: inline-block;

    vertical-align: top;

    margin: 0 20px;
}

.footer-menu-item {
    font-size: 12px;

    display: inline-block;

    height: 100%;
    padding: 0;
    margin-top: 1em;
}

.footer-menu-button {
    color: hsl(0, 0%, 50%);

    text-decoration: none;
}

.footer-menu-button:hover {
    text-decoration: underline;
}

.footer-menu-button:active {
    text-decoration: none;
}

.footer-menu-title {
    font-size: 12px;

    display: inline-block;

    height: 100%;
    padding: 0;
    margin-top: 56px;

    color: var(--text-color);

    font-weight: 600;
}


.main {
    display: inline-block;

    width: 100%;

    text-align: center;
}

.contents {
    display: inline-block;
    text-align: start;

    width: 1000px;
}

@media screen and (max-width: 750px) {
    .header-large-ul {
        padding-left: 10px;
    }

    .header-menu-button {
        padding: 0 5px;
    }
}

@media screen and (max-width: 450px) {
    .header-large {
        display: none;
    }
    

    .header-small {
        display: flex;
    }
}

@media screen and (max-width: 1056px) {
    .contents {
        padding: 0 28px;
        width: calc(100% - 56px);
    }
}